[libdefaults]
        default_realm = EXAMPLE.COM
        noaddresses = true

[realms]
        EXAMPLE.COM = {
                kdc = KDC_ADDRESS
        }

[domain_realm]
        example.com = EXAMPLE.COM
        .example.com = EXAMPLE.COM
