[libdefaults]
        default_realm = REALM_NAME
        noaddresses = true

[realms]
        REALM_NAME = {
		# will be replaced by the script
                kdc = KDC_ADDRESS
        }

[domain_realm]
        DOMAIN_NAME = REALM_NAME
        .DOMAIN_NAME = REALM_NAME
